body{
    font-family: Arial;
    background: linear-gradient(120deg,#74ebd5,#ACB6E5);
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    width:350px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    margin-bottom:20px;
}

input{
    width:90%;
    padding:10px;
    margin:5px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:10px 20px;
    background:#4CAF50;
    color:white;
    border:none;
    border-radius:5px;
    margin-top:10px;
    cursor:pointer;
}

button:hover{
    background:#45a049;
}

.result{
    margin-top:20px;
    font-size:18px;
}